/* Fuentes y variables globales */
@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
}

:root {
    --primary: #2A3EF4;
    --primary-soft: #e8eafd;
    --primary-dark: #071947;
    --bg-app: #E4E5F2;
    --bg-card: #ffffff;
    --text-main: #071947;
    --text-muted: #4a5270;
    --border-soft: #d0d3e8;
    --radius-sm: 8px;
    --radius-md: 10px;
    --radius-lg: 14px;
    --bs-body-font-family: 'Poppins', sans-serif;
}
