.app-header {
    height: 64px;
    background-color: #ffffff; 
    border-bottom: 1px solid #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.logo {
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: .5px;
}

/* Área principal */
.app-main {
    min-height: calc(100vh - 64px);
    background-image: url('/images/background/Background_Gris.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 2rem;
}

.content {
    /*background: white;*/
    border-radius: 0.75rem;
    padding: 2rem;
    box-shadow: 0 10px 25px rgba(0,0,0,.05);
}

.logo-link {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.logo-img {
    height: 36px;
    width: auto;
    display: block;
}
