@page "/areas/nueva"
@attribute [Authorize]
@using DrakionTech.Crm.Web.Components.Areas


<PageTitle>Nueva área – DrakionTech CRM</PageTitle>

<div class="form-card">
    <div class="form-header">
        <h2>Nueva área</h2>
        <p>Completa los datos del área organizacional</p>
    </div>
    <AreaForm />
</div>